<link href="{{url_for("static",filename="css/main.css") }}" rel="stylesheet" type="text/css"/>
{% extends "bootstrap/base.html" %}
{% block title %}数字货币价格监视器设置{% endblock %}

{% block content %}
  <h2>数字货币价格监视器设置</h2>
 
  {% if success %}
    <p>Success</p>
 
  {% else %}
 
    {% for message in form.cny_rate.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
 
 
    <form action="{{ url_for('settings') }}" method=post>

      {{ form.csrf }}
      <div  class = "form-group">      
	{{ form.cny_rate.label }}
	{{ form.cny_rate }}
      </div>
      <div  class = "form-group">      
	{{ form.price_diff_on.label }}      {{ form.price_diff_on }}
	</div>
      <div  class = "form-group">      
      {{ form.price_diff_value.label }}      {{ form.price_diff_value }}
      </div>
      <div  class = "form-group">      
      {{ form.price_minus_diff_value.label }}      {{ form.price_minus_diff_value }}
      </div>

      <input type="submit" value="Go" />
    </form>
 
  {% endif %}
{% endblock %}
